.achievements {
  padding-bottom: 5rem;
}
.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-div select {
  background-color: #333;
  color: white;
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}

@media screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .title-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 25px;
  }
  .title-div h1 {
    margin: 0;
  }
  .title-div label {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
