.details-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 75px;
}

.link-container {
  display: flex;
  gap: 50px;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0) solid 1px;
  transition: border-color 0.2s ease-out;
}
.link:hover {
  border-color: white;
  transition: all 0.2s ease-in;
}
