footer {
  padding: 3rem 5% 2rem;
  background-color: #223;
  display: flex;
  justify-content: space-between;
}

.link-container {
  display: flex;
  gap: 50px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: rgba(0, 0, 0, 0) solid 1px;
  transition: border-color 0.2s ease-out;
}
.footer-link:hover {
  border-color: white;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 500px) {
  footer,
  .link-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
  }
}
