h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

section {
  padding-bottom: 3.5rem;
}

section h2 {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
}

.section-subcontainer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

section:nth-child(2n + 1) .section-subcontainer {
  flex-direction: row-reverse;
}

.section-subcontainer > * {
  width: 47%;
}

.section-subcontainer img {
  max-height: 450px;
  object-fit: scale-down;
  background-color: #339;
  border-radius: 20px;
}

.section-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-description p {
  margin: 0;
  font-size: 1.2rem;
}
