h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

section {
  padding-bottom: 3.5rem;
}

section h2 {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid white;
}

.section-subcontainer {
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  margin: 2rem 0;
}

section:nth-child(2n + 1) .section-subcontainer {
  flex-direction: row-reverse;
}

.section-subcontainer img {
  max-height: 50%;
  width: -webkit-fill-available;
  object-fit: scale-down;
  background-color: #334;
  border-radius: 20px;
}

.section-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section:nth-child(-n + 3) img {
  max-width: 30%;
}

section:nth-child(-n + 3) .section-description {
  max-width: 60%;
}

section:nth-child(n + 4) img {
  max-width: 52%;
}

section:nth-child(n + 4) .section-description {
  gap: 35px;
  max-width: 45%;
}

.section-subcontainer > * {
  max-width: 48%;
}

.section-description p {
  margin: 0;
  font-size: 1.2rem;
}

.section-link {
  align-self: center;
  background-color: #339;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: bold;
}
