header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.header-img{
  width: 50%;
}
.header-nav{
  width: 70%;
}
.header-nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
