header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: #226;
  position: sticky;
  top: 0;
  min-height: 60px;
  z-index: 100;
}

.title-name,
.title-abbreviated {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}
.title-abbreviated {
  display: none;
}
.header-nav {
  width: 50%;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
}

.header a {
  color: #ddc;
  font-size: 1.2rem;
  transition: all 0.2s ease-out;
}
.header a:hover {
  color: #fff;
  font-size: 1.3rem;
  transition: all 0.2s ease-in;
}

.icon {
  display: none;
}
.burger-menu {
  background-color: #334;
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 2rem;
  }
  .header-nav {
    display: none;
  }
  .icon {
    display: block;
  }
  .burger-icon,
  .cross-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    width: 40px;
  }
  .burger-icon div,
  .cross-icon div {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .burger-icon div {
    width: 100%;
    transition: transform 0.3s ease;
  }
  .cross-icon div {
    transform-origin: left;
    width: 51px;
    transition: transform 0.3s ease;
  }
  .cross-icon div:first-child {
    transform: rotate(45deg);
  }

  .cross-icon div:last-child {
    transform: rotate(-45deg);
  }

  .burger-menu {
    background-color: #226;
    display: block;
    position: sticky;
    z-index: 2;
    top: 100px;
    max-height: 0;
    overflow: hidden;
    opacity: 1;
    transition: max-height 1.2s ease;
  }
  .burger-menu.open {
    max-height: 500px;
  }

  .burger-menu.closed {
    max-height: 0;
  }
  .header-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
  }
  .header-nav-list li {
    position: relative;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.4rem;
  }
  .header-nav-list li .active {
    font-weight: bold;
    font-size: 1.2rem;
    color: #88b;
  }
  .header-nav-list li:not(:last-child)::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 1px;
  }
}

@media screen and (max-width: 400px) {
  .title-name {
    display: none;
  }
  .title-abbreviated {
    display: block;
  }
}
