header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: #226;
}

.title-name {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}
.header-nav {
  width: 50%;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
}
